beautifulsoup4==4.12.2
langchain==0.0.288
lark==1.1.7
openai==0.27.8
pinecone_client==2.2.2
pydantic==1.10.12
pypdf==3.16.0
PyPDF2==3.0.1
python-dotenv==1.0.0
Requests==2.31.0
streamlit==1.25.0
google-api-python-client
openai
tiktoken
faiss-cpu
selenium==4.12.0 
streamlit_extras
st-pages
unstructured 